<tr>
    <td>Name</td>
</tr>
<tr class="value-row">
    <td class="value"><%- name %></td>
</tr>
<tr>
    <td>Status</td>
</tr>
<tr class="value-row">
    <td class="value"><%- status %></td>
</tr>
<tr>
    <td>IP</td>
</tr>
<tr class="value-row">
    <td class="value"><%- ip %></td>
</tr>
<tr>
    <td>ID</td>
</tr>
<tr class="value-row">
    <td class="value"><%- uuid %></td>
</tr>
<tr>
    <td>Created</td>
</tr>
<tr class="value-row">
    <td class="value"><%- created %></td>
</tr>
<tr>
    <td>Modified</td>
</tr>
<tr class="value-row">
    <td class="value"><%- modified %></td>
</tr>
<tr>
    <td>Pools</td>
</tr>
<tr class="value-row">
    <td class="value">
    rbd, metadata, data
    </td>
</tr>
