<tr>
    <td>Name</td>
</tr>
<tr class="value-row">
    <td class="value"><%- name %></td>
</tr>
<tr>
    <td>UUID</td>
</tr>
<tr class="value-row">
    <td class="value"><%- uuid %></td>
</tr>
<tr>
    <td>Used</td>
</tr>
<tr class="value-row">
    <td class="value"><%- used %> / <%- capacity %>MiB</td>
</tr>
<tr>
    <td>Up</td>
</tr>
<tr class="value-row">
    <td class="value"><%- up %></td>
</tr>
