<div class='bc-item'>
    <div class='bc-circle'>
        <span title='<%- title.dashboard %>' data-action='dashboard' class='bc-entry bc-active'>
            <i title='<%- title.dashboard %>' class="fa fa-tachometer fa-lg"></i>
        </span>
    </div>
    <div class='bc-title bc-title-one'>DASHBOARD</div>
</div><div class="bc-line"></div><div class='bc-item'>
    <div class='bc-circle'>
        <span title='<%- title.bench %>' data-action='bench' class='bc-entry'>
            <i title='<%- title.bench %>' class="fa fa-sitemap fa-lg"></i>
        </span>
    </div>
    <div class='bc-title bc-title-two'>WORKBENCH</div>
</div><div class="bc-line"></div><div class='bc-item'>
    <div class='bc-circle'>
        <span title='<%- title.chart %>' data-action='chart' class='bc-entry'>
            <i title="<%- title.chart %>" class="fa fa-bar-chart-o fa-lg"></i>
        </span>
    </div>
    <div class='bc-title bc-title-three'>GRAPH</div>
</div>
