<span title='<%- title.dashboard %>' data-action='dashboard' class='bc-entry bc-active'><i title='<%- title.dashboard %>' class="icon-dashboard icon-large"></i></span><span class="bc-line"></span><span title='<%- title.bench %>' data-action='bench' class='bc-entry'><i title='<%- title.bench %>' class="icon-sitemap icon-large"></i></span><span class="bc-line"></span><span title='<%- title.chart %>' class='bc-entry'><i title="<%- title.chart %>" class="icon-bar-chart icon-large"></i></span>

