    <div class="bbm-modal__topbar">
      <h3 class="bbm-modal__title"><i class="fa fa-lg fa-heart"></i> <span class="text-primary"><%- l10nHealthReport %></span></h3>
    </div>
    <div class="bbm-modal__section">
        <table class="table table-condensed health-table">
            <thead>
                <tr>
                    <th class="text-muted"><%- l10nSeverity %></th>
                    <th class="text-muted"><%- l10nDetails %></th>
                </tr>
            <thead>
            <tbody>
                <%= content %>
            </tbody>
        </table>
    </div>
    <div class="bbm-modal__bottombar">
      <a href="#" class="bbm-button"><%- l10nClose %></a>
    </div>
