OSD 属性 <i class='pull-right fa fa-times'></i>
<hr class="style-two">
            <table>
              <tbody>
<tr>
    <td>OSD ID</td>
</tr>
<tr class="value-row">
    <td class="value"><%- osd %></td>
</tr>
<tr>
    <td>状态</td>
</tr>
<tr class="value-row">
    <td class="value"><%- status %></td>
</tr>
<tr>
    <td>IP</td>
</tr>
<tr class="value-row">
    <td class="value"><%- public_addr %></td>
</tr>
<tr>
    <td>UUID</td>
</tr>
<tr class="value-row">
    <td class="value"><%- uuid %></td>
</tr>
<tr>
    <td>主机名</td>
</tr>
<tr class="value-row">
    <td class="value"><%- host %></td>
</tr>
              </tbody>
            </table>

<button class='graph-button btn btn-primary'><i class="fa fa-icon-bar-chart-o fa-lg"></i> 图表</button>
<i class="fa fa-cloud fa-lg"></i>
<i class="fa fa-info-circle fa-lg"></i>
