OSD <%- l10nAttributes %> <i class='pull-right fa fa-times'></i>
<hr class="style-two">
            <table>
              <tbody>
<tr>
    <td>OSD ID</td>
</tr>
<tr class="value-row">
    <td class="value"><%- model.osd %></td>
</tr>
<tr>
    <td> <%- l10nStatus %> </td>
</tr>
<tr class="value-row">
    <td class="value"><%- model.status %></td>
</tr>
<tr>
    <td><%- l10nPublicIP %></td>
</tr>
<tr class="value-row">
    <td class="value"><%- model.public_addr %></td>
</tr>
<tr>
    <td>UUID</td>
</tr>
<tr class="value-row">
    <td class="value"><%-  model.uuid %></td>
</tr>
<tr>
    <td><%- l10nHostName %></td>
</tr>
<tr class="value-row">
    <td class="value"><%- model.host %></td>
</tr>
              </tbody>
            </table>

<button class='graph-button btn btn-primary'><i class="fa fa-icon-bar-chart-o fa-lg"></i> 
<%- l10nGraphs %></button>
<i class="fa fa-cloud fa-lg"></i>
<i class="fa fa-info-circle fa-lg"></i>
