OSD Attributes <i class='pull-right fa fa-times'></i>
<hr class="style-two">
            <table>
              <tbody>
<tr>
    <td>OSD ID</td>
</tr>
<tr class="value-row">
    <td class="value"><%- osd %></td>
</tr>
<tr>
    <td>Status</td>
</tr>
<tr class="value-row">
    <td class="value"><%- status %></td>
</tr>
<tr>
    <td>Public IP</td>
</tr>
<tr class="value-row">
    <td class="value"><%- public_addr %></td>
</tr>
<tr>
    <td>UUID</td>
</tr>
<tr class="value-row">
    <td class="value"><%- uuid %></td>
</tr>
<tr>
    <td>Hostname</td>
</tr>
<tr class="value-row">
    <td class="value"><%- host %></td>
</tr>
              </tbody>
            </table>

<button class='graph-button btn btn-primary'><i class="fa fa-icon-bar-chart-o fa-lg"></i> Graphs</button>
<i class="fa fa-cloud fa-lg"></i>
<i class="fa fa-info-circle fa-lg"></i>
