OSD Attributes <i class='pull-right icon-remove'></i>
<hr class="style-two">
            <table>
              <tbody>
<tr>
    <td>OSD ID</td>
</tr>
<tr class="value-row">
    <td class="value"><%- osd %></td>
</tr>
<tr>
    <td>Status</td>
</tr>
<tr class="value-row">
    <td class="value"><%- status %></td>
</tr>
<tr>
    <td>Public IP</td>
</tr>
<tr class="value-row">
    <td class="value"><%- public_addr %></td>
</tr>
<tr>
    <td>UUID</td>
</tr>
<tr class="value-row">
    <td class="value"><%- uuid %></td>
</tr>
<tr>
    <td>Up From</td>
</tr>
<tr class="value-row">
    <td class="value"><%- up_from %></td>
</tr>
              </tbody>
            </table>

<i class="icon-info-sign icon-large"></i>
